livraria/.idea/vcs.xml
livraria/.idea/misc.xml
livraria/.idea/modules.xml
livraria/livraria.iml
pedraPapelTesoura/.idea/misc.xml
pedraPapelTesoura/.idea/modules.xml
pedraPapelTesoura/.idea/pedraPapelTesoura.iml
pedraPapelTesoura/.idea/vcs.xml
pedraPapelTesoura/out/production/pedraPapelTesoura/.idea/misc.xml
pedraPapelTesoura/out/production/pedraPapelTesoura/.idea/modules.xml
pedraPapelTesoura/out/production/pedraPapelTesoura/.idea/pedraPapelTesoura.iml
pedraPapelTesoura/out/production/pedraPapelTesoura/.idea/vcs.xml
pedraPapelTesoura/out/production/pedraPapelTesoura/Entrada.class
pedraPapelTesoura/out/production/pedraPapelTesoura/GerarNumeros.class
pedraPapelTesoura/out/production/pedraPapelTesoura/Programa.class
pedraPapelTesoura/out/production/pedraPapelTesoura/Main.class
pedraPapelTesoura/out/production/pedraPapelTesoura/.idea/workspace.xml
pedraPapelTesoura/.idea/workspace.xml
